body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
}

.icon-20 {
  font-size: 20px;
}

.icon-32 {
  font-size: 32px;
}

.icon-40 {
  font-size: 40px;
}
.icon-28 {
  font-size: 28px;
}
.icon-24 {
  font-size: 24px;
  color: #007bff;
}

.active-icon {
  color: white;
}

.active-icon-container {
  background-color: #007bff;
  border: none !important;
}

.icon-container:hover:not(.active-icon-container) {
  background-color: #007bff98;
  border: none !important;
}

.icon-container:hover:not(.active-icon-container) .icon-24 {
  color: white;
}

a {
  text-decoration: none !important;
}

.input:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* SignUP Css  */
.input {
  margin-top: 1.5rem;
  /* border: none; */
  border-radius: 0;
  /* border-bottom: 1px solid gray; */
}

.input::placeholder {
  font-size: 0.75rem;
}

.pa-error {
  outline: 1px solid red;
}

a:hover {
  text-decoration: underline;
}

.folder-icon {
  /* text-align:center;
    vertical-align:middle; */
  position: relative;
  font-size: 30px;
}

.badge {
  position: absolute;
  background: gray;
  font-size: 10px;
  top: 0;
  right: 0;
  text-align: center;
  color: white;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.folder > div {
  display: flex;
  align-items: center;
}

.folder > div > div {
  line-height: 1.1;
}
.folder-para1 {
  margin: 0;
  font-size: 14px;
  width: 140px;
  margin-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.folder-para2 {
  margin: 0;
  font-size: 11px;
  margin-left: 0.5rem;
}

#foldersContainer::-webkit-scrollbar {
  display: none;
}

#foldersContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.notes > div {
  display: flex;
  align-items: center;
}

.notes > div > div {
  line-height: 1.1;
}
.notes-para1 {
  margin: 0;
  font-size: 14px;
  width: 140px;
  margin-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.notes-para2 {
  margin: 0;
  font-size: 11px;
  margin-left: 0.5rem;
}

#notesContainer::-webkit-scrollbar {
  display: none;
}

#notesContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.active-folder {
  background-color: #8a8a40;
  border-radius: 0.25rem;
  padding: 0.25rem 0.25rem;
}

.active-note {
  background-color: #8a8a40;
  border-radius: 0.25rem;
  padding: 0.25rem 0.25rem;
}

.hidden {
  display: none;
}
