/* Font Family for body  */

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
}

/* For ALL Links  */

a {
  text-decoration: none !important;
}

/* Css for Sidebar Component  */

/* .active-icon {
  color: white;
}

.active-icon-container {
  background-color: #007bff;
  border: none !important;
}

.icon-container:hover:not(.active-icon-container) {
  background-color: #007bff98;
  border: none !important;
}

.icon-container:hover:not(.active-icon-container) .icon-24 {
  color: white;
} */

/* Folder Component  */
#foldersContainer::-webkit-scrollbar {
  display: none;
}

#foldersContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Notes Component  */

#notesContainer::-webkit-scrollbar {
  display: none;
}

#notesContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar-container {
  width: 5rem;
}
.notes-dashboard {
  left: 5rem;
}
.folder-container {
  width: 19rem;
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1),
    padding 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition-delay: 0.3s;
}

.notes-container {
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1),
    padding 0.3s cubic-bezier(0.2, 0, 0, 1);
  width: 19rem;
}

.new-content-container {
  width: calc(100% - 5rem) !important;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition-delay: 0.3s;
}
.demo-editor {
  overflow: auto !important;
  /* height: calc(100vh - 18rem) !important; */
}

.demo-wrapper {
  width: 100%;
}

.content-container {
  width: calc(100% - 43rem);
}

@media screen and (max-width: 1366px) {
  .folder-container {
    width: 16rem;
  }
  .notes-container {
    width: 16rem;
  }
  .content-container {
    width: calc(100% - 37rem);
  }
}

.animation {
  width: 0 !important;
  overflow: hidden;
  padding: 0 !important;
}

/* Homepage Animation  */
.homepage-heading1 {
  animation-name: rotate;
  animation-duration: 1s;
}

@keyframes rotate {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
